@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');


.home-title {
    font-family: 'Quicksand', 'Roboto', sans-serif;
    font-size: 2em;
    margin-top: 10px;}
.book, .join {
    font-size: 18px;
    margin-top: 50px;
}
.msg p{ font-size: .8em;
    padding-bottom: 15px;}

.msg{ line-height: 1.5em;
    padding: 35px;}

#logo_link{   padding-top: 5px;}

.icon{  padding-top: 10px;}
footer .social img{
    padding-top: 15px;}
.rivers-card, .camping-card, .rapids-card{ 
    margin: 200px 0;}

    #content {max-width: 1600px;
    margin: 0 auto;}
nav{text-align: center;
color: #d6cefc;}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #d9c2a3;}

#background {
    height: 725px;
}

nav a{text-align: center;
    text-decoration: none;
    padding: 35px;}

nav a:hover{color: #fcd9ce;}
.home-title{color: #168bda;}

#Hero-msg {text-align: center;
}
h1 {text-align: center;
}
h2{margin: 0;
    color: #168bda;}
.msg p{color: #eefcce;}

#Hero-msg{text-align: center;}
h4 {text-align: center;
}
h4 {text-align: center;
color: #168bda;}
#hero-img.icon {width: 100%;
    padding-top: 10px;}
.button-box{text-align: center;
}

main section{text-align: center;
}


body{
    background-color: rgb(250, 250, 250);
    margin: 0;
    padding: 0;}

header{background-color:#9eb25d;}

nav a:hover {background-color: #3c5209;}
.book{background-color:#36d377;
color: #fce4ce;
text-decoration: none;
padding: 15px 30px;
border-radius: 5px;}
.join {background-color:#9eb25d;
color: #cecffc;
text-decoration: none;
padding: 15px 30px;
border-radius: 5px;}
.book:hover, .join:hover{background-color: brown;
color: #12e06f;}
#background{background-color: #9eb25d  ;}
.msg{background-color: #9eb25d;}
footer{background-color: #9eb25d;
    padding: 25px 50px;
    margin-top: 200px;}
footer p a:hover {
    text-decoration: underline;
}    
footer p {
    font-size: 1.2em;
} 
footer a{color: #eefcce;
    text-decoration: none;}
footer a:hover{color: #168bda;}